{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip(); 
         });
         
         
        
      
         
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }

$(function(){
    var text = $(".nou_text").html();
    alert(text);
    if(text.length > 20){
    var text1 = text.substr(0,19);
    var text2 = text.substr(20);
    $(".nou_text").html(text1+"<br>");
    $(".nou_text").append(text2);
}
});
}
</script>

{% endblock %}
{% block body %}

    <section id="blog-section" > 
     <div class="container">
      
        
           
        <div class="row">

        <div class="col-lg-8 col-md-8">
        <h2>Posts</h2>&nbsp;
        {% if createpost == true %}
        <p class="lletra_principal">Publicar un nou post <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Crea post</button></p>
        {% endif %}
        {% for post in data %}
        <div class="col-lg-6 col-md-6">
        <aside class="modal_post">
               <img src="{{post.img}}" class="img-responsive img_post" alt="postimg">
                <div class="content-title"></div>
        				<div class="content-footer">
        				<span class="nou_text">{{post.messages}}</span><br>
        				<span style="font-size: 16px;color: #fff;">{{post.user}}</span>
        				<span class="pull-right">
        				
        				<span>{{post.createtime}}</span>                  
        				</span>
                </div>
        </aside>
        </div>
        
			{% endfor %}
        </div>
              
              <div class="col-lg-4 float-right " >           
               <div class="widget-sidebar">
                 <h2 class="title-widget-sidebar">NOTICIES</h2>
                   <div class="content-widget-sidebar">
                    <ul>
                    {% for post in usernoticia %}
                     <li class="recent-post">
                        <div class="post-img" data-toggle="modal" data-target="#{{post.id}}">
                         <img src="/{{post.imgRoute}}" class="img-responsive" alt="postimg">
                         </div>
                         <a data-toggle="modal" data-target="#{{post.id}}"><h5>{{post.title}}</h5></a>
                         <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> {{post.createDate}}</small></p>
                        </li>
                        <li>
                          <div class="modal fade" id="{{post.id}}" role="dialog">
                          <div class="modal-dialog">
                             <div class="modal-content">
                               <h2> {{post.title}}   </h2>
                                 <img src="/{{post.imgRoute}}" alt="post.img" class="img-responsive">
                                   <p>{{post.message}}</p>
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                             </div>
                           </li>
                      {% endfor %}
                      
                    
                        
                        
                    </ul>
                   </div>
          </div>
           </div>
        </div>
          </div>
    </section>
    
    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
   <form class="form-signin" action="postverification" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h4 class="modal-title">Nou Post</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <br>
      <div class="col-md-8 col-md-offset-2">
                 <div class="col-lg-12 col-md-12">
                     <label>Selecciona arxiu</label>
                     <input class="form-control" name="image" type="file" >
                     <label>Escriu el cos de la publicació</label><br>
                     <input class="form-control" type="text"  name="message">
                 </div>
              
      </div>
      
      <br>
     
        <div class="modal-footer col-md-12 float-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-md btn-primary btn-block" type="submit">Publicar</button>
      
        </div>

    </form>
    </div>
    </div>
    </div>
</div>




{% endblock %}