{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip(); 
         });
         
         
        
      
         
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}


{% block body %}
  
    <div class ="container">
    <div class="row titol">
      <img src = {{imgtitle}} class="img_titol img-responsive" alt="imgtitle">
    </div>
  
    <section id="blog-section" >
     
        <div class="col-lg-12 col-md-12">
             <h2>Noticies</h2>
            
             <br>
              {% if gestiocomunitat is defined %}
                  <p>Publicar una nova noticia<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Crea noticia</button></p>
              {% endif %}
              <br>
             {% if follow == true %}
              <div>
             <a href="http://www.socialgaming.cat/comunitat/follow" class="btn btn-info btn-md">segueix</a>
              </div>

              {% endif %}
            

        
             
      {% for post in data %}
        <div class="col-lg-4 col-md-4">
          <aside class="modal_noticia">
                <a  data-toggle="modal" data-target="#{{post.id}}" ><img src="{{post.img}}" alt="post.img" class="img-responsive img_post"></a>
                <div class="content-footer">
                <span>{{post.title}}</span>         
                <span class="pull-right">
                {{post.date}}               
                </span>
                </div>
        </aside>
        </div>
  <div class="modal fade" id="{{post.id}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <h2> {{post.title}}   </h2>
          <img src="{{post.img}}" alt="post.img" class="img-responsive">
          <p>{{post.message}}</p>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
      {% endfor %}
      </div> 
  </section>
    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
   <form class="form-signin" action="noticiaverification" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h4 class="modal-title">Nou Post</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <br>
      <div class="col-md-8 col-md-offset-2">
                 <div class="col-lg-12 col-md-12">
                     <input type="hidden" name="id_comunitat" value="{{comunitatid}}">
                     <label>Selecciona arxiu</label>
                     <input class="form-control" name="img_noticia" type="file" >
                     <label>titulo</label><br>
                     <input class="form-control" type="text"  name="titulo_noticia">
                     <label>Escriu el missatge</label><br>
                     <textarea class="form-control"  name="message_noticia"> </textarea> 
                 </div>
              
      </div>
      
      <br>
     
        <div class="modal-footer col-md-12 float-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-md btn-primary btn-block" type="submit">Publicar</button>
      
        </div>

    </form>
    </div>
    </div>
    </div>
</div>
   </div>
{% endblock %}