{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip(); 
         });
         
         
        
      
         
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}


{% block body %}

    <div class="row">
      <img src = {{imgtitle}} alt="">
    </div>
  
    <section id="blog-section" >
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
           <div class="row">
             <h2>Noticies</h2>
            </div>
             <br>
              <p>Publicar una nova noticia <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Crea noticia</button></p>
             {% if follow == true %}
             <button type="button" class="btn btn-info btn-md">
                <a href="http://www.socialgaming.cat/comunitat/follow">segueix</a>
              </button>
              {% endif %}
             </div>

              
    
           </div>
          </div>
           <div>
             
      {% for post in data %}
        <div class="col-lg-4 col-md-4">
          <aside class="modal_noticia">
                <a  data-toggle="modal" data-target="#{{post.id}}" ><img src="{{post.img}}" class="img-responsive img_post"></a>
                <div class="content-title"></div>
                <div class="content-footer">
                <span>{{post.title}}</span>         
                <span class="pull-right">
                {{post.date}}               
                </span>
                </div>
        </aside>
        </div>
         <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="{{post.id}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <h2> {{post.title}}   </h2>
          <img src="{{post.img}}" class="img-responsive">
          <p>{{post.message}}</p>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>






      {% endfor %}
      
           </div>   
    </section>
    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
   <form class="form-signin" action="noticiaverification" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h4 class="modal-title">Nou Post</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <br>
      <div class="col-md-8 col-md-offset-2">
                 <div class="col-lg-12 col-md-12">
                     <input type="hidden" name="id_comunitat" value="{{comunitatid}}">
                     <label>Selecciona arxiu</label>
                     <input class="form-control" name="img_noticia" type="file" >
                     <label>titulo</label><br>
                     <input class="form-control" type="text"  name="titulo_noticia">
                     <label>Escriu el missatge</label><br>
                     <textarea class="form-control"  name="message_noticia"> </textarea> 
                 </div>
              
      </div>
      
      <br>
     
        <div class="modal-footer col-md-12 float-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-md btn-primary btn-block" type="submit">Publicar</button>
      
        </div>

    </form>
    </div>
    </div>
    </div>
</div>
   
{% endblock %}